
<div class="brands">
    <h2 class="brands_title">Бренды</h2>
    <div class="brands_wrp">
        <div class="brands_item_wrp">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=adidas">
                <img class="brands_img" src="../assets/img/brands/adidas.png" alt="brand-img">
            </a>
        </div>
        <div class="brands_item">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=balenciaga">
                <img class="brands_img" src="../assets/img/brands/balenciaga_3.png" alt="brand-img">
            </a>
        </div>
        <div class="brands_item">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=nike">
                <img class="brands_img" src="../assets/img/brands/nike_2.png" alt="brand-img">
            </a>
        </div>
        <div class="brands_item">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=puma">
                <img class="brands_img" src="../assets/img/brands/Puma-Logo-PNG.png" alt="brand-img">
            </a>
        </div>
        <div class="brands_item">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=reebok">
                <img class="brands_img" src="../assets/img/brands/reebok_1.png" alt="brand-img">
            </a>
        </div>
        <div class="brands_item">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=ecco">
                <img class="brands_img" src="../assets/img/brands/ECCO_Logo.svg.png" alt="brand-img">
            </a>
        </div>
        <div class="brands_item">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=new-balance">
                <img class="brands_img" src="../assets/img/brands/New_Balance_logo.svg.png" alt="brand-img">
            </a>
        </div>
        <div class="brands_item">
            <a class="brands_link" href="index.php?class=page&method=catalog&brand=asics">
                <img class="brands_img" src="../assets/img/brands/asics1.png" alt="brand-img">
            </a>
        </div>
    </div>
</div>