
<div class="content_wrp">
    <div class="delivery">
        <h2 class="delivery_title page_title">Доставка</h2>

        <p>Доставку товара Мы осуществляем на территории России и стран бывшего СНГ.</p>

        <div class="delivery_text_block">
            <p class="delivery_text_block_title">Доставка почтой России.</p>
            <img class="delivery_text_block_img" src="../assets/img/PochtaRossii.png" alt="pochta-img">
            <ul class="delivery_text_block_list">
                <li class="delivery_text_block_item">
                    Средние сроки доставки  5-15 дней, в зависимости от удаленности Вашего региона.
                </li>
                <li class="delivery_text_block_item">
                    Стоимость наземной доставки в регионы России - от 150 рублей. Стоимость авиадоставки от 510р.
                </li>
                <li class="delivery_text_block_item">
                    ВНИМАНИЕ! Дополнительно оплачивается почтовый сбор (согласно тарифам почты России)
                </li>
                <li class="delivery_text_block_item">
                    Подробнее узнать о тарифах можно на сайте 
                    <a href="https://www.pochta.ru/money-transfer" target="blank" style="color:blue;">Почты России</a>
                </li>
                <li class="delivery_text_block_item">
                    После оформления заказа и осуществления предоплаты, в течение 2-3 рабочих дней по указанному 
                    Вами адресу отправляется ценная посылка.
                </li>
                <li class="delivery_text_block_item">
                    На электронную почту будет отправлено письмо, в котором находится  Почтовый идентификатор, по 
                    которому вы сможете 
                    <a href="https://www.pochta.ru/tracking" target="blank" style="color:blue;">отследить</a> движение посылки.
                </li>
                <li class="delivery_text_block_item">
                    По прибытии в Ваше почтовое отделение, получайте посылку, не дожидаясь извещения.
                </li>
                <li class="delivery_text_block_item">
                    Если предоплата была частичная, то дальнейшая оплата Вашего заказа производится при 
                    получении в Вашем почтовом отделении при наличии документа, подтверждающего личность (паспорт гражданина РФ)
                </li>
            </ul>
        </div>

        <div class="delivery_text_block">
            <p class="delivery_text_block_title">Доставка службой доставки EMS Russian Post осуществляется только по предоплате.</p>
            <img class="delivery_text_block_img" src="../assets/img/EMS.png" alt="ems-img">
            <ul class="delivery_text_block_list">
                <li class="delivery_text_block_item">
                    Средние сроки доставки  3-7 дней, в зависимости от удаленности Вашего региона.
                </li>
                <li class="delivery_text_block_item">
                    Стоимость доставки по России - от 700 рублей.
                </li>
            </ul>
        </div>

        <div class="delivery_text_block">
            <p class="delivery_text_block_title">Доставка службой доставки Экспресс-курьер.</p>
            <img class="delivery_text_block_img" src="../assets/img/cdek.png" alt="cdek-img">
            <p>Преимущества курьерской доставки СДЭК:</p>
            <ul class="delivery_text_block_list">
                <li class="delivery_text_block_item">
                    Быстрая доставка до 7 дней. 
                </li>
                <li class="delivery_text_block_item">
                    Низкая стоимость доставки. Рассчитывается индивидуально для каждой посылки, в зависимости от 
                    количества товара (его веса) и пункта назначения.
                </li>
                <li class="delivery_text_block_item">
                    Доставка посылки до двери покупателя. Курьер привезет посылку вам домой или на работу в удобное 
                    для вас время. Вам не придется стоять в бесконечных очередях на почте!
                </li>
                <li class="delivery_text_block_item">
                    Возможность осмотреть товар перед получением. Подробнее об условиях вы можете прочитать 
                    <a href="https://www.cdek.ru/ru" target="blank" style="color:blue;">здесь</a>
                </li>
                <li class="delivery_text_block_item">
                    Безопасность и высокое качество доставки. Вероятность возникновения форс-мажорных ситуаций 
                    или порчи и потери груза сокращается, поскольку каждый этап транспортировки груза находится 
                    под ответственностью и наблюдением представителя компании. Кроме того, мы страхуем вашу посылку за свой счет.
                </li>
            </ul>
        </div>
        
    </div>
</div>
