
<div class="content_wrp">
    <div class="feedbacks">

        <h2 class="feedbacks_title page_title">Отзывы</h2>

        <div class="feedbacks_wrp">
            {% if feedbacks %}
                {% for feedback in feedbacks %}

                    <div class="feedback_wrp">
                        <div class="feedback_info">
                            <p class="feedback_user_name">{{ feedback.user_name}}</p>
                            <p class="feedback_date">{{ feedback.date}}</p>
                            <div class="feedback_rating">
                                {% for i in range(1, feedback.rating) %}
                                    <div class="feedback_star"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="feedback_text">
                            <p class="feedback_title">{{ feedback.title }}</p>
                            <p class="feedback_text">{{ feedback.text }}</p>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <p>Нет отзывов</p>
            {% endif %}
        </div>
    </div>
</div>

