	
	<footer id="footer" class="footer">  
		<div class="footer_container">

			<div class="footer_logo">
				<div class="footer_logo_wrp">
					<a class="footer_logo_link" href="index.php?path=index">
						<img class="footer_logo_img" src="../assets/img/logotypes_white_300.png" alt="logo-img">
					</a>
					<p>&#169; REDSNEAKER 2012 — 2021</p>
					<p>Все права защищены</p>
				</div>
				<div class="socials wrapper">
					<ul>
						<li><a href="https://ru-ru.facebook.com/" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="https://wa.me/4957777777" target="blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="footer_nav">
				<h2 class="footer_nav_title">Информация:</h2>
				<ul class="footer_nav_list">
					<a class="footer_nav_link" href="index.php?path=payment">
						<li class="footer_nav_item">Оплата</li>
					</a>
					<a class="footer_nav_link" href="index.php?path=delivery">
						<li class="footer_nav_item">Доставка</li>
					</a>
					<a class="footer_nav_link" href="index.php?path=warranty">
						<li class="footer_nav_item">Гарантии</li>
					</a>
					<a class="footer_nav_link" href="index.php?path=refund">
						<li class="footer_nav_item">Возврат и обмен</li>
					</a>
					<a class="footer_nav_link" href="index.php?path=feedbacks">
						<li class="footer_nav_item">Отзывы</li>
					</a>
					<a class="footer_nav_link" href="index.php?path=recommend">
						<li class="footer_nav_item">Рекомендации по уходу</li>
					</a>
				</ul>
			</div>

			<div class="footer_contacts">
				<div class="footer_contacts_wrp">
					<h2 class="footer_contacts_title">Контакты:</h2>
					<p class="footer_contacts_text">
						Адрес: г. Москва, 2 Хорошевский проезд, дом 7 - Россия.
					</p>
					<p class="footer_contacts_text">
						Телефон: <a href="tel:+70000000000">8 800 301 03 52</a>
					</p>
					<p class="footer_contacts_text">
						Email: <a href="mailto:test@test.ru">manager@redsneaker.ru</a>
					</p>
				</div>
				<div class="footer_contacts_wrp">
					<h2 class="footer_contacts_title">График работы:</h2>
					<p class="footer_contacts_text">
						Понедельник - Суббота:
						8:00 - 23:00
					</p>
				</div>
			</div>
			
		</div>         	
	</footer>

