<div id="modal__window" class="modal">
    <div class="modal__content">
        <span class="close__modal__btn">×</span>
        <div id="modal__content_wrp">
            
        </div>
    </div>
</div>
<script src="../assets/js/modal.js"></script>