
<nav id="nav" class="nav">
    <a class="nav_link" href="index.php?path=index">Главная</a> 
    <a class="nav_link" href="index.php?path=catalog">Каталог</a>
    <a class="nav_link" href="index.php?path=feedbacks">Отзывы</a>
    <a class="nav_link" href="index.php?path=delivery">Доставка</a>
    <a class="nav_link" href="index.php?path=payment">Оплата</a>
    <a class="nav_link" href="index.php?path=contacts">Контакты</a>
</nav>