
<div class="content_wrp">
    <div class="payment">
        <h2 class="payment_title page_title">Оплата</h2>

        <div class="payment_text_block">
            <p class="payment_text_block_title">Способы оплаты:</p>
            <p class="payment_text_block_item">
                <strong>Оплата при получении</strong>
                <em>(оплата по факту получения)</em>
                Заказ необходимо оплатить в почтовом отделении или в пункте выдачи СДЭК.
            </p>
            <p class="payment_text_block_item">
                <strong>100% предоплата</strong>
                <em>(оплата на сайте)</em>
                Заказ необходимо полностью оплатить на сайте через платёжную систему.
            </p>
            <p class="payment_text_block_item">
                <strong>Предоплата</strong>
                <em>(оплата за доставку на сайте)</em>
                Заказ необходимо частично оплатить (за доставку) на сайте через платёжную систему.
            </p>
        </div>

        <div class="payment_text_block">
            <p class="payment_text_block_title">Формы оплаты:</p>
            <p class="payment_text_block_item">
                <strong>Наличными в рублях РФ</strong>
                При получении заказа, при выборе доставки курьерской службой
            </p>
            <p class="payment_text_block_item">
                <strong>Наличными в рублях РФ наложенным платежом</strong>
                В отделениях Почты России, при выборе доставки Почтой России
                <em>При оплате заказа в почтовом отделении к стоимости заказа добавляется почтовый сбор за наложенный платеж 2%
                от суммы, но не менее 50 руб.</em>
            </p>
            <p class="payment_text_block_item">
                <strong>Банковской картой Visa или MasterCard</strong>
                При оформлении заказа на сайте
            </p>
            <p class="payment_text_block_item">
                <strong>Электронными деньгами</strong>
                С помощью платежных систем: АЛЬФА-КЛИК, Евросеть, Связной, WebMoney, QIWI, АЛЬФА-КЛИК
            </p>
            <p class="payment_text_block_item">
                <strong>Оплатить заказ при получении возможно, если: </strong>
                - сумма заказ от 1000 руб. 
                - доставка не превышает 800 руб.
            </p>
        </div>

        <div class="payment_text_block">
            <p class="payment_text_block_title">
                ПОЛИТИКА БЕЗОПАСНОСТИ ПРИ ОПЛАТЕ КАРТОЙ
            </p>
            <p class="payment_text_block_item">
                При оплате заказа банковской картой, обработка платежа (включая ввод номера карты) происходит на защищенной странице 
                процессинговой системы, которая прошла международную сертификацию. Это значит, что Ваши конфиденциальные данные 
                (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена 
                и никто, в том числе наш интернет-магазин, не может получить персональные и банковские данные клиента.
            </p>
            <p class="payment_text_block_item">
                При работе с карточными данными применяется стандарт защиты информации, разработанный международными платёжными системами
                Visa и MasterCard -Payment Card Industry Data Security Standard (PCI DSS), что обеспечивает безопасную обработку реквизитов Банковской
                карты Держателя. Применяемая технология передачи данных гарантирует безопасность по сделкам с Банковскими картами путем
                использования протоколов Secure Sockets Layer (SSL), Verifiedby Visa, Secure Code,
                и закрытых банковских сетей, имеющих высшую степень защиты.
            </p>
        </div>

        <div class="payment_text_block">
            <p class="payment_text_block_title">
                ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ
            </p>
            <p class="payment_text_block_item">
                Уважаемые Клиенты, информируем Вас о том, что при запросе возврата денежных средств при отказе от покупки,
                возврат производится исключительно на ту же банковскую карту, с которой была произведена оплата
            </p>
            <p class="payment_text_block_item">
                Срок рассмотрения заявки на возврат денежных средств составляет 1-2 рабочих дня.
                Возврат денежных средств осуществляется на ту же банковскую карту,
                с которой производился платеж. Возврат денежных средств на карту
                осуществляется в срок от 5 до 30 банковских дней,в зависимости от
                Банка, которым была выпущена банковская карта.
            </p>
        </div>

        <div class="payment_text_block">
            <p class="payment_text_block_title">
                ОПЛАТА ЧЕРЕЗ ПЛАТЕЖНЫЕ СЕРВИСЫ ROBOKASSA и CLOUDPAYMENTS
            </p>
            <p class="payment_text_block_item">
                Вы можете оплатить свой заказ онлайн с помощью банковской карты через платежные сервисы Robokassa или Cloudpayments.
                После подтверждения заказа Вы будете перенаправлены на защищенную платежную страницу Robokassa или Cloudpayments,
                где необходимо будет ввести данные для оплаты заказа. После успешной оплаты на указанную в форме
                оплаты электронную почту будет направлен электронный чек с информацией о заказе и данными по произведенной оплате.
            </p>
        </div>

        <div class="payment_text_block">
            <p class="payment_text_block_title">
                ГАРАНТИИ БЕЗОПАСНОСТИ
            </p>
            <p class="payment_text_block_item">
                Безопасность процессингов Robokassa и Cloudpayments подтверждены сертификатами стандарта безопасности данных индустрии 
                платежных карт PCI DSS. Надежность сервиса обеспечивается интеллектуальной системой мониторинга мошеннических операций,
                а также применением 3D Secure - современной технологией безопасности интернет-платежей.
            </p>
            <p class="payment_text_block_item">
                Данные Вашей карты вводятся на специальной защищенной платежной странице. Передача информации в процессинговые
                компании Robokassa или Cloudpayments происходит с применением технологии шифрования TLS. Дальнейшая передача информации
                осуществляется по закрытым банковским каналам, имеющим наивысший уровень надежности.
            </p>
        </div>

        <div class="payment_text_block" >
            <p class="payment_text_block_title">
                ROBOKASSA И CLOUDPAYMENTS НЕ ПЕРЕДАЮТ ДАННЫЕ ВАШЕЙ КАРТЫ МАГАЗИНУ И ТРЕТЬИМ ЛИЦАМ!
            </p>
            <p class="payment_text_block_item">
                Если Ваша карта поддерживает технологию 3D Secure, для осуществления платежа, Вам необходимо будет пройти
                дополнительную проверку пользователя в банке-эмитенте (банк, который выпустил Вашу карту).
                Для этого Вы будете направлены на страницу банка, выдавшего карту. Вид проверки зависит от банка.
                Как правило, это дополнительный пароль, который отправляется в SMS,
                карта переменных кодов, либо другие способы.
            </p>
        </div>

        <div class="payment_text_block">
            <p class="payment_text_block_item" style="color:red;">
                При возникновении любых вопросов по оплате вы можете связаться с нами по по телефону:
            </p>
            <p class="payment_text_block_item" style="color:red;">
                8 800 301-03-52 | Звонок бесплатный
            </p>
            <p class="payment_text_block_item" style="color:red;">
                Время работы: с 07:00 до 19:00
            </p>
        </div>
    </div>
</div>
