
<div class="content_wrp">
    <div class="refund">
        <h2 class="refund_title page_title">Обмен и возврат</h2>
        <div class="refund_text_block">
            <p class="refund_text_block_title">
                Как вернуть товар?
            </p>
            <p class="refund_text_block_item">
                Напишите нам на электронную почту 
                <a href="#" style="color:blue;">manager@redsneaker.ru</a>
            </p>
            <p class="refund_text_block_item">
                Заполните заявление о возврате (его вы получите от нас в электронном формате)
            </p>
            <p class="refund_text_block_item">
                Аккуратно упакуйте товар в оригинальную упаковку в полной комплектации. 
                Товары, поставляемые в комплекте, необходимо возвращать также в комплекте
            </p>
            <p class="refund_text_block_item">
                Выслать посылку почтой России / СДЕК по адресу, который указан в заявлении
            </p>
        </div>

        <div class="refund_text_block">
            <p class="refund_text_block_title">
                О возврате товара
            </p>
            <p class="refund_text_block_item">
                Покупатель имеет право произвести возврат Товара (Возврат Товара производится, если указанный Товар 
                не был в употреблении, сохранены его потребительские свойства, фабричные ярлыки, товарный вид и т. п.) 
                без указания причин в течение 14 (четырнадцати) календарных дней с момента фактического получения 
                Товара непосредственно от продавца или лиц, представляющих Продавца.
            </p>
            <p class="refund_text_block_item">
                Постановлением Правительства РФ от 19.01.1998 № 55 утвержден «Перечень непродовольственных товаров 
                надлежащего качества, не подлежащих возврату или обмену на аналогичный Товар другого размера, формы, фасона».
            </p>
            <p class="refund_text_block_item">
                Данный перечень указывает на невозможность возврата Товаров должного качества, обладающих 
                индивидуально–обусловленными свойствами, если подобные Товары могут быть использованы лишь приобретающим его потребителем.
            </p>
            <p class="refund_text_block_item">
                Для возврата товара Вам необходимо представить документ, подтверждающий факт и условия его приобретения. Отсутствие подобного 
                документа не исключает иные возможности доказательства приобретения Товара у Продавца.
            </p>
            <p class="refund_text_block_item">
                Для осуществления возврата необходимо заполнить заявление на возврат согласно форме, которая имеется на нашем сайте.
            </p>
        </div>

        <div class="refund_text_block">
            <p class="refund_text_block_title">
                Возврат денежных средств
            </p>
            <p class="refund_text_block_item">
                Запросы о возврате уплаченной за Товар денежной суммы подлежат рассмотрению в соответствии с ФЗ РФ «О защите прав потребителей».
            </p>
            <p class="refund_text_block_item">
                * В случае возврата Товара надлежащего качества, по заказу, оплаченному электронным способом или банковской картой, 
                Покупателю будет возвращена стоимость Товара за вычетом стоимости доставки указанного товара тем же способом, 
                которым была произведена оплата.
            </p>
            <p class="refund_text_block_item">
                * В случае возврата Товара надлежащего качества, оплаченного электронным способом (Яндекс.Деньги, Деньги Mail.ru, 
                QIWI-кошелек, Альфа-клик, Web-Money), возврат будет осуществляться почтовым переводом.
            </p>
            <p class="refund_text_block_item">
                ** В случае возврата Товара надлежащего качества, по заказу, оформленному на оплату наличным способом, Покупатель 
                оплачивает стоимость доставки Товара туда и обратно. Денежные средства будут возвращены на банковскую карту или почтовым переводом.
            </p>
            <p class="refund_text_block_item">
                * При возврате Товара ненадлежащего качества, а также возврате Товара, в случае обнаружения недостатков, 
                связанных с несоответствием условиям Заказа, возникшим по вине Продавца, Продавец осуществляет возврат 
                стоимости Товара, а также стоимости доставки указанного Товара ненадлежащего качества Покупателю. 
                Соответствующие расходы на доставку Товара ненадлежащего качества должны быть документально подтверждены.
            </p>
            <p class="refund_text_block_item">
                ** При возврате Товара ненадлежащего качества, а также возврате Товара, в случае обнаружения недостатков, 
                связанных с несоответствием условиям Заказа, возникшим по вине Продавца, Продавец осуществляет возврат 
                стоимости Товара, а также стоимости доставки указанного Товара ненадлежащего качества Покупателю по средствам 
                перевода на банковскую карту или счет, указанный в заявлении. Соответствующие расходы на доставку Товара 
                ненадлежащего качества должны быть документально подтверждены.
            </p>
            <p class="refund_text_block_item">
                * - для заказов, оплаченных электронным способом или банковской картой
            </p>
            <p class="refund_text_block_item">
                **-для заказов, оплаченных наличным способом
            </p>
            <p class="refund_text_block_item">
                Срок рассмотрения заявки на возврат денежных средств составляет 1-2 рабочих дня. Возврат денежных средств за 
                возвращенный Товар надлежащего/ненадлежащего качества осуществляется на ту же банковскую карту, с которой 
                производился платеж. Возврат денежных средств на карту осуществляется в срок от 5 до 30 банковских дней с даты 
                предъявления Покупателем требования об их возврате,в зависимости от Банка, которым была выпущена банковская карта.
            </p>
        </div>

        <div class="refund_text_block">
            <p class="refund_text_block_title">
                Возврат Товара надлежащего качества
            </p>
            <p class="refund_text_block_item">
                Покупатель имеет право на возврат Товара надлежащего качества в течение 14 (четырнадцати) календарных дней с 
                момента фактической передачи Покупателю Товара представителем службы доставки. Товар может подлежать возвращению 
                Продавцу, если он не подошел по форме, фасону, расцветке или размеру.
            </p>
            <p class="refund_text_block_item">
                Замена Товара надлежащего качества может быть осуществлена в случае наличия или поступления аналогичного Товара в продажу.
            </p>
            <p class="refund_text_block_item">
                Возврат Товара производится, если указанный Товар не был в употреблении, сохранены его потребительские свойства, 
                фабричные ярлыки, товарный вид и т. п.
            </p>
            <p class="refund_text_block_item">
                Не подлежат обмену и возврату Товары надлежащего качества, перечень которых утвержден Постановлением Правительства 
                РФ от 19.01.1998 № 55 «Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену 
                на аналогичный товар другого размера, формы, фасона, расцветки».
            </p>
        </div>

        <div class="refund_text_block">
            <p class="refund_text_block_title">
                Возврат Товара в случае обнаружения недостатков, возникшим по вине Продавца
            </p>
            <p class="refund_text_block_item">
                В случае, если Товар передан Покупателю с частичным несоблюдением или с нарушением условий Заказа по вине Продавца, 
                касающихся ассортимента, комплектности, количества Товара, Покупатель имеет право известить Продавца 
                (не позднее семи календарных дней после получения) об этих нарушениях и потребовать их устранения.
            </p>
            <p class="refund_text_block_item">
                Также Покупатель имеет право на отказ от товара и возвращение уплаченных денежных средств. В данном случае Товар 
                должен быть возвращен Продавцу с сохранением первозданного товарного вида, его потребительских свойств, пломб, фабричных ярлыков.
            </p>
            <p class="refund_text_block_item">
                Для возврата товара Покупателю необходимо представить документ, подтверждающий факт и условия его приобретения. Отсутствие 
                подобного документа не исключает иные возможности доказательства приобретения Товара у Продавца.
            </p>
            <p class="refund_text_block_item">
                Для осуществления возврата необходимо заполнить заявление на возврат согласно форме, имеющейся на нашем сайте.
            </p>
        </div>

        <div class="refund_text_block">
            <p class="refund_text_block_title">
                Возврат Товара ненадлежащего качества
            </p>
            <p class="refund_text_block_item">
                Претензии, касающиеся недостатков Товара, излагаются Покупателем в письменной форме и направляются Продавцу 
                по электронному адресу <a href="#" style="color:blue;">manager@redsneaker.ru</a>
            </p>
            <p class="refund_text_block_item">
                При обнаружении недостатков Товара Покупатель имеет право потребовать его замены, либо осуществить 
                возврат Товара и своих денежных средств.
            </p>
        </div>
    </div>
</div>