
<div class="subscribe">
    <h2 class="subscribe_title">Следите за нашими акциями</h2>
    <p class="subscribe_text">Подпишитесь на нашу рассылку, узнавайте первыми об акциях и новых поступлениях</p>
    <form id="subscribe_form" class="subscribe_form" method="POST">
        <input class="subscribe_form_email" type="email" name="email" placeholder="Введите ваш email...">
        <a id="subscribe_btn" class="subscribe_form_btn">Подписаться</a>
    </form>

    <div id="modal__window" class="modal">
        <div class="modal__content">
            <span class="close__modal__btn">×</span>
            <div id="modal__content_wrp"></div>
        </div>
    </div>
</div>