
<div class="content_wrp">
    <div class="warranty">
        <h2 class="warranty_title page_title">Гарантии</h2>
        <div class="warranty_text_block">
            <p class="warranty_text_block_title">СРОК ДЕЙСТВИЯ ГАРАНТИИ 30 ДНЕЙ С МОМЕНТА ПОЛУЧЕНИЯ ЗАКАЗА</p>
            <p class="warranty_text_block_item">
                Гарантия на обувь не распространяется: 
                на естественное истирание подошвы, стельки, шнурки и другую фурнитуру; на эксплуатацию прошивной обуви в сырую погоду,
                так как обувь будет пропускать влагу (промокать), на обувь и изделия из кожи с дефектами, возникшими в следствие: 
                несоблюдения условий эксплуатации или ошибочных действий владельца изделия.
            </p>
            <p class="warranty_text_block_item">
                Гарантия на обувь не распространяется при несоблюдении условий эксплуатации и ухода за обувью.
            </p>
            <p class="warranty_text_block_item">
                Гарантийные условия соответствуют закону РФ «О защите прав потребителей».
            </p>
        </div>
    </div>
</div>