<html>
  <head>
  <title>Фотография {{big}}</title>
  <link rel="stylesheet" type="text/css" href="templates/css/style.css">
  </head>
  <body>
    <h2>Фотография {{big}}</h2>
    <div><A Href="./">Назад в альбом</A></div>
    <div class="full_photo"><img src="{{dir}}/{{big}}"></div>
  </body>
</html>